:host {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  color: white;
}

.running-apps-wrapper {
  display: flex;
  flex: 1;
}

.start-button {
  box-sizing: border-box;
  background-color: transparent !important;
  outline: none !important;
  border: none !important;
  width: 98px;
  padding-left: 36px;
  padding-top: 2px;
  display: flex;
  align-items: center;
  font-family: 'Libre Franklin';
  font-weight: 600;
  font-style: italic;
  text-shadow: 1px 1px 3px #000e;
  cursor: pointer;
  user-select: none;
  &:hover {
    background-position: 0 60px;
  }  
}

.start-button.opened {
  background-position: 0 30px;
}

.tray {
  padding-inline: 16px;
  border-left-width: 1px;
  border-left-style: solid;
}

.clock {
  height: 100%;
  line-height: 1;
  display: flex;
  align-items: center;
  font-size: 11px;
}


::ng-deep .theme-silver {
  background-image: url("/assets/taskbar/silver/bg.png");

  .start-button {
    background-image: url("/assets/taskbar/silver/start.png");
  }

  .clock {
    color: #000
  }
  .tray {
    background-image: url("/assets/taskbar/silver/tray.png");
    border-left-color: #1c1c1f90;
  }
}

::ng-deep .theme-blue {
  background-image: url("/assets/taskbar/blue/bg.png");

  .start-button {
    background-image: url("/assets/taskbar/blue/start.png");
  }

  .clock {
    color: #fff;
  }
  .tray {
    background-image: url("/assets/taskbar/blue/tray.png");
    border-left-color: #12305290;
  }
}

::ng-deep .theme-olive {
  background-image: url("/assets/taskbar/olive/bg.png");

  .start-button {
    background-image: url("/assets/taskbar/olive/start.png");
  }

  .clock {
    color: #41400a;
  }
  .tray {
    background-image: url("/assets/taskbar/olive/tray.png");
    border-left-color: #968b4b;
  }
}